<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Sentence</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>HTML Forms</h2>
        
        <p><span style = "color:red">{{firstname}}</span> <span style = "color:orange">{{lastname}}</span> was <span style = "color:green">{{verb}}</span> 
            their <span style = "color:{{color}}">{{color}}</span> dog when they went to their <span style = "color:blue">{{adjective}}</span> school. </p>
        <img src="./images/{{pic}}.jpg" alt="Dog" width="460" height="345">

    </body>
</html>