<!DOCTYPE html>


<html>
    <head>
	<link rel="stylesheet" href="css/main.css">
    	<title>Number Tables</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
        <h1>Number Tables</h1>
        <h1>Your number is {{num}}</h1> <br> <br>
        <p>Square root of {{num}} is: {{square_root}}</p> <br>
        <p>Log Base 2 of {{num}} is: {{log_base2}}</p> <br>
        <p> {{num}} squared is: {{squared}}</p> <br>
    	<a href="https://user.tjhsst.edu/2023cxu/numbers" class="button1">List of numbers</a> <br>
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
</html>