<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Puppy Facebook</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>Puppy Facebook Results</h2>

        <H3>The Votes.</H3>
            <img src="./images/xb1.jpg" alt="Dog" width="350" height="345">
            <p> <b>{{xb0_upv}}</b> upvotes</p> <br>
            <p><b>{{xb0_downv}}</b> downvotes</p> <br>
            <br>  <br> 
            
            <img src="./images/xb2.jpg" alt="Dog" width="350" height="345">
            <p><b>{{xb1_upv}}</b> upvotes</p> <br>
            <p><b>{{xb1_downv}}</b> downvotes</p> <br>
            <br>  <br> 
            
           <img src="./images/xb3.jpg" alt="Dog" width="350" height="345">
            <p><b>{{xb2_upv}}</b> upvotes</p> <br>
            <p><b>{{xb2_downv}}</b> downvotes</p> <br>
           <br>  <br> 
            
            <img src="./images/xb4.jpg" alt="Dog" width="350" height="345">
            <p><strong>{{xb3_upv}}</strong> upvotes</p> <br>
            <p><b>{{xb3_downv}}</b> downvotes</p> <br>
           <br>  <br> 
            
            
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>

    </body>
</html>